#headings{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:teal;
}

.btn-primary{
    background-color:teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#title{
    font-family: sans-serif;
    font-weight: bold;
    color:teal;
    font-size: x-large;
    text-align: center;
}

#colornav{
  color:teal;
}

#navjustify{
    text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
  }

.box {
    min-height: 15px;
    max-width: 20;
    padding: 5px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: teal;
    color: white;
    text-align: center;
}

